<!DOCTYPE html>

<html>
<head>
  <style>
    body {
      text-align: center;
      background-color: #AFEEEE;
      color: black;
    }
   </style> 
</head>


<body>
  <h1>Hello,  <%= @player %>! </h1>
  <h2>Rock, Paper or Scissors?</h2>

  <form action="/selection">
    <input type="hidden" name=player value=<%=@player%>>
    <input type="hidden" name=pick value="rock">
    <input type="submit" value= "Rock">
  </form>


  <form action="/selection">
    <input type="hidden" name=player value=<%=@player%>>
    <input type="hidden" name=pick value="paper">
    <input type="submit" value= "Paper">
  </form>  


  <form action="/selection">
    <input type="hidden" name=player value=<%=@player%>>
    <input type="hidden" name=pick value="scissors">
    <input type="submit" value= "Scissors">
  </form>    
</body>
</html>