<head>
  <style>
    body {
      background-color: black;
      color: white;
      text-align: center;
    }
  </style>
</head>

<body>
  You Lose!
  <form action= '/game'>
    <input type="submit" value="Try Again">
  </form>
</body>  