<head>
  <style>
    body {
      background-color: #AFEEEE;
      color: black;
      text-align: center;
    }
  </style>
</head>

<body>
  <h1>You Lose!</h1>
  <h2>
    <br>You picked <%= @pick %></br>
    <br>The computer picked <%= @selection %> </br>
  </h2>
  <form action= '/game'>
    <input type="submit" value="Try Again">
  </form>
</body>  