<head>
  <style>
    body {
      background-color: #AFEEEE;
      color: black;
      text-align: center;
      font-size: 100px
    }
  </style>
</head>

<body>
  YOU WIN!
  <form action= '/game'>
  <input type="submit" value="Try Again">
  </form>
</body>  